/* VARS for UI  */

:root{
    --main-color: #ffff;
    --blue-color: #4E47FF;
    --gray-color: #F5F8FF;
    --violet-color: #5B54FF;

    --font-size-s: 20px;
    --font-size-m: 30px;
    --font-size-l: 80px;
}

/* MAIN RULES */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--gray-color);
}
input{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.chapter{
    margin-top: 100px;
    padding: 0px 195px;
}
a{
    text-decoration: none;
    color: black;
}
/* div{
    border: 1px solid red;
}
label{
    border: 1px solid red; 
}*/

/* HEADER(main) */

header{
    width: 100vw;
}
.header__main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* HEADER -> LOGO */

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 8%;
}
.logo img {
    width: 29px;
    height: 29px;
}
.logo p{
    font-size: 2em;
}

/* HEADER --> NAVIGATION MENU */

.nav {
    width: 25%;
    height: fit-content;
    padding: 10px;
    border-radius: 1rem;
    background-color: var(--main-color);
    opacity: 0.5;
    z-index: 2;
}
.nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.nav ul input[type="radio"]{
    display: none;
}
.nav ul label{
    cursor: pointer;
}
.nav ul input[type="radio"]:checked + label a{
    font-weight: bold;
}
.nav ul input[type="radio"]:checked + label{
    font-weight: bold;
}
.nav input[type="checkbox"]{
    display: none;
}
.menu-icon {
    width: 24px;
    height: 24px;
    display: none;
    font-size: 40px;
    text-align: center;
}

/* HEADER --> BUTTONS CONTAINER FOR AUTORIZATION */

.header__buttons {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.header__buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__buttons-container a{
    text-decoration: none;
    color: black;
}
.header__buttons-container a:hover{
    text-decoration: underline;
}
.header__buttons-container button{
    background-color: var(--blue-color);
    color: var(--main-color);
    border: none;
    border-radius: 0.5rem;
    padding: 15px 20px;
    cursor: pointer;
}
.header__buttons-container button:hover{
    font-weight: 900;
}

/* BANNER(main) */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 500px;
    position: relative;
}

/* BANNER --> GRADIENT settings */

.gradient-container{
    background: rgb(255,18,220);
    background: linear-gradient(54deg, rgba(255,18,220,1) 0%, rgba(255,185,18,1) 28%, rgba(148,3,253,1) 63%, rgba(0,173,254,1) 87%);
    border-radius: 50%;
    width: 490px;
    height: 490px;
    position: absolute;
    filter: blur(100px);
}

/* BANNER --> TEXT and BUTTON settings */

.header__text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header__text-container h1{
    font-size: 70px;
    text-align: center;
}
.header__text-container button{
    color: var(--main-color);
    background-color: black;
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 0.5rem;
    border: none;
}

/* INFORMATION CARDS (main) */

.mainInfo-container{
    font-size: 35px;
}
.info-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* INFORMATION CARDS --> 1ST column */

.info-col-1 {
    width:75%;
}

/* INFORMATION CARDS --> 1ST column --> 1ST row */

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.info-card-m{
    width: 30%;
    position: relative;
    padding-top: 30%;
    border-radius: 0.5rem;
    background-color: var(--main-color);
}
.card-content{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
}
.card-icon{
    margin: 20px 0 0 0;
    width: 24px;
    height: 24px;
    background-color: var(--gray-color);
    padding: 10px;
    border-radius: 0.2rem;
}
.card-content h5 {
    font-size: var(--font-size-m);
    margin: 30px 0 0 0;
}
.card-content p {
    font-size: var(--font-size-s);
    color: gray;
}

/* INFORMATION CARDS --> 1ST column --> 2ND row */

.info-card-l{
    width: 65%;
    position: relative;
    padding-top: 32.5%;
    border-radius: 0.5rem;
    background-color: var(--main-color);
}
.card-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.card-container .card-picture{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--violet-color);
    padding: 0.5%;
    border-radius: 0.5rem;
}
.card-content-l{
    width: 40%;
}
.card-content-l h5 {
    font-size: var(--font-size-m);
    margin: 30px 0 0 0;
}
.card-content-l p {
    font-size: var(--font-size-s);
    color: gray;
}

/* INFORMATION CARDS --> 2ND column */

.info-col-2 {
    width: 25%;
    position: relative;
    padding-top: 38%;
}

/* INFORMATION CARDS --> card's content*/

.info-col-2 .card-container-2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    margin: 10px;
}
.card-content-2{
    padding: 20px;
}
.card-content-2 h5 {
    font-size: var(--font-size-m);
    margin: 30px 0 0 0;
}
.card-content-2 p {
    font-size: var(--font-size-s);
    color: gray;
}
.info-col-2 .card-picture-2{
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PRICE BLOCK (main) */

.price-description__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.price-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-description h1{
    font-size: var(--font-size-l);
    margin: 0;
}
.text-description p{
    font-size: var(--font-size-s);
    margin: 10px 0 0 0;
}
.meeting-block {
    background-color: var(--main-color);
    padding: 10px 30px;
    border-radius: 1rem;
}
.meeting-block h2{
    font-size: var(--font-size-m);
}
.meeting-block button{
    background-color: var(--blue-color);
    border-radius: 0.5rem;
    color: var(--main-color);
    border: none;
    width: 100%;
    padding: 20px 10px;
}
.price-block {
    width: 60%;
    padding: 10px 40px;
    background-color: var(--main-color);
    border-radius: 1rem;
}
.price-block__text h2{
    font-size: var(--font-size-m);
    font-weight: normal;
}
.price-block__text p{
    font-size: var(--font-size-s);
}
.price-block__benefits {
    display: flex;
    justify-content: center;
    width: 80%;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.price-block__grid-item{
    display: flex;
    align-items: center;
}
.price-block__grid-item img{
    width: 24px;
    height: 24px;
}
.price-block__grid-item p{
    font-size: var(--font-size-s);
    margin-left: 10px;
}
.price-block__more {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0px;
    background-color: var(--gray-color);
    border-radius: 0.5rem;
}
.more__text-block{
    display: flex;
    width: 90%;
    align-items: end;
    padding: 0 20px;
}
.more__text-block h1{
    font-size: var(--font-size-l);
    margin: 0;
}
.more__icon{
    display: flex;
    align-items: center;
    width: 10%;
}

/* FOOTER (main) */

/* FOOTER --> gradient */

footer{
    margin: 200px  0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gradient-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    filter: blur(100px);
    height: 600px;
    overflow: hidden;
    position: relative;
}
.gradient-block{
    border-radius: 50%;
    width: 1000px;
    height: 1000px;
}
#red-gr{
    background-color: coral;
}
#violet-gr{
    background-color: purple;
}
#blue-gr{
    background-color: var(--blue-color);
}
.footer__block{
    z-index: 2;
    position: absolute;
    width: 80%;
    background-color: var(--main-color);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.footer__block-text {
    width: 40%;
}
.footer__logo {
}
.logo {
}
.footer__text-description {
    width: 70%;
}
.footer__text-description p{
    color: gray;
    font-size: var(--font-size-s);
}
.footer__another_text {
    display: flex;
    margin: 30px 0 0 0;
}
.footer__another_text p {
    margin: 0 0 0 10px;
}
.footer__block-nav {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}
.footer__navigation {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.footer__navigation input[type="radio"]{
    display: none;
}
.footer__navigation label{
    cursor: pointer;
    color: gray;
    font-size: var(--font-size-s);
}
.footer__navigation label a{
    color: gray;
    font-size: var(--font-size-s);
}
.footer__navigation input[type="radio"]:checked + label{
    color: black;
    font-weight: bold;
}
.footer__navigation input[type="radio"]:checked + label a{
    color: black;
    font-weight: bold;
}
.footer__social {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 40%;
}
.footer__social img{
    padding: 10px;
    background-color: var(--gray-color);
    border-radius: 50%;
}


/* -----MOBILE----- */

@media (max-width: 768px){
    .logo{
        width: 20%;
        font-size: 10px
    }
    .nav{
        background-color: transparent;
        border: none;
        display: flex;
        align-items: flex-end;
        position: relative;
        width: 20%;
        justify-content: end;
    }
    .nav ul{
        display: none;
    }
    .menu-icon{
        display: block;
        color: black;
        position: absolute;

    }
    #main-nav{
        position: relative;
        width: 100%;
    }
    .header__buttons {
        width: 40%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    .header__text-container{
        width: 100%;
    }
    .header__text-container h1{
        font-size: 40px;
    }
    
    .chapter{
        width: 100%;
        padding: 0px;
    }
    .mainInfo-container{
        width: 100%;
    }
    .mainInfo-container p{
        font-size: 12px;
    }
    .mainInfo-container h5{
        margin: 0;
    }
    .mainInfo-container h1{
        font-size: 40px;
        margin: 10px;
        width: 100%;
    }
    .info-row{
        display: flex;
        flex-direction: column;
    }
    .info-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-card-m{
        width: 100%;
        margin: 10px 0;
    }
    .info-card-m{
        width: 100%;
        position: relative;
        padding-top: 100%;
        border-radius: 0.5rem;
        background-color: var(--main-color);
    }
    .card-content{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 20px;
    }
    .card-text{
        font-size: 12px;
    }
    .info-card-l{
        width: 100%;
        position: relative;
        padding-top: 200%;
        border-radius: 0.5rem;
        background-color: var(--main-color);
    }
    .card-container{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
    }
    .card-content-l{
        width: 100%;
    }
    .card-content-l h5 {
        font-size: var(--font-size-m);
        margin: 30px 0 0 0;
    }
    .card-content-l p {
        font-size: var(--font-size-s);
        color: gray;
    }
    .card-container .card-picture{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info-col-2 {
        width: 75%;
        position: relative;
        padding-top: 150%;
    }
    
    /* INFORMATION CARDS --> card's content*/
    
    .info-col-2 .card-container-2{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--main-color);
        border-radius: 0.5rem;
        margin: 10px;
    }
    .card-content-2{
        padding: 20px;
    }
    .card-content-2 h5 {
        font-size: var(--font-size-m);
        margin: 30px 0 0 0;
    }
    .card-content-2 p {
        font-size: var(--font-size-s);
        color: gray;
    }
    .info-col-2 .card-picture-2{
        position: absolute;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .price-description__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        align-items: center;

    }
    .price-text .text-description h1{
        font-size: 40px;
    }
    .price-text .text-description{
        width: 100%;
        margin: 10px 0;
    }
    .price-text .meeting-block{
        margin: 10px 0;
    }
    .price-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .price-block {
        width: 90%;
        padding: 20px;
        background-color: var(--main-color);
        border-radius: 1rem;
    }
    .footer__text-description p{
        font-size: 16px;
    }
    .footer__another_text{
        display: flex;
        align-items: center;
    }
    .footer__another_text img{
        width: 20px;
        height: 20px;
    }
    .footer__block-nav .footer__navigation{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer__navigation label{
        margin: 5px 0;
    }
    .footer__social{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 1700px){
    .card-content h5{
        margin: 0;
        font-size: 18px;
    }
    .card-content p{
        font-size: 12px;
    }
    .card-content-l h5{
        margin: 0;
        font-size: 18px;
    }
    .card-content-l p{
        font-size: 12px;
    }
    .card-content-2 h5{
        margin: 0;
        font-size: 18px;
    }
    .card-content-2 p{
        font-size: 12px;
    }
}